img#signatureImage {
  height: 130px;
}

div#projectName {
  font-size: 28pt;
  color: #0000DD;
}

div#projectDescription {
  margin-bottom: 50px;
  font-size: 18pt;
  padding: 15px;
}

.classSchedule {
  margin-top: 30px;
}
